---
layout: home
title: BLOG
description: "The personal blog of Hossain Mohd. Faysal, a doctoral candidate in Electrical Engineering at University of Pennsylvania."
headline: An Engineer's Diary
tags: [Hossain, Mohd, Faysal, electrical, engineering, blog, university, pennsylvania, doha, Qatar]
---
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
 // looping trough all posts
    {% for post in site.posts limit: 1 %}

    // if the category we want to exclude matches
        {% if post.category == "Personal" %}
        // we do nothing
        {% else if %}
        // if it's another category, we display the article
        <article>
            <hgroup>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </hgroup>
                {{ post.excerpt }}
        </article>
        {% endif %}  
    {% endfor %}
