<style type="text/css">
  .services_list h3
  {
   font-weight: bold !important; 
    text-transform: uppercase !important; 
    text-align: center !important;
  }
    .services_list 
  {

  }
</style>
<br><br>
<div class="row">    
   <section class="services" id="services">     
     <center><h1 class="mean_title">SharePoint, Office 365 & Dynamics 365</h1></center>

  <div class="spacer"></div>


      <div class="row">        
        <h3 class="mean_title">Are you in need of SharePoint Solutions Architect or a Developer? </h3>
        <center><p>I am committed to delivering a solution designed to meet your unique business needs.
         Contact Me <a href="https://www.solutionsdelve.com/contact/">Here.</a></p></center>
      </div>

      <div class="row services_list">
        <div class="small-12 medium-4 large-4 columns">
          <img src="{{ site.url }}/images/services/intranet1.jpg" alt="IT DELVE">
          <h3 class="title">Site Design & Development</h3>
          <p>Do you want to create a brand-new Office 365 or SharePoint intranet or improve your existing corporate portal? 
            I can develop intuitive and visually appealing Intranet Sites and portals  for your organization.</p>
        </div>
        
          <div class="small-12 medium-4 large-4 columns">
             <img src="{{ site.url }}/images/services/workflow.jpg" alt="IT DELVE">
          <h3 class="title">Automating Business Processes </h3>
          <p>Are you looking to automate processes across multiple platforms and improve productivity within your organization? 
            I can help you eliminate time-consuming processes and increase productivity.</p>
        </div>


        <div class="small-12 medium-4 large-4 columns">
                   <img src="{{ site.url }}/images/services/2.jpg" alt="IT DELVE">
          <h3 class="title">Custom Business Applications</h3>
          <p>Do you want to build custom business applications leveraging your existing investments in SharePoint Online, 
            PowerApps and/or Dyanmics 365? I can help you build mobile-ready advanced line-of-business solutions.</p>
        </div>
     </div>
                <div class="row services_list">
        <div class="small-12 medium-4 large-4 columns">
                     <img src="{{ site.url }}/images/services/migration1.jpg" alt="IT DELVE">
          <h3 class="title">Migration & User Adoption</h3>
          <p>I can assist you in building a migration plan and help you migrate to SharePoint Online and Office 365 from on-premises
          servers or other cloud providers</p>
        </div>

        <div class="small-12 medium-4 large-4 columns">
         <img src="{{ site.url }}/images/services/info1.jpg" alt="IT DELVE">
          <h3 class="title">Information Architecture & Governance</h3>
          <p>I can work with you to develop a Governance Strategy Plan and ensure enterprise compliance policies and 
            well-defined procedures are in place for your organization.</p>
        </div>

        <div class="small-12 medium-4 large-4 columns">
              <img src="{{ site.url }}/images/services/training.jpg" alt="IT DELVE">
          <h3 class="title">Consulting & Training</h3>
          <p>I can help you maximize your investments in Office 365 and SharePoint by facilitating 
            collaboration and increase employee productivity and engagement.</p>
        </div>
      </div>

  
   
  </section>

 
