<style>
  #page-wrap {
     width: 600px;
     margin: 0 auto;
}
</style>
<meta name="referrer" content="origin" />
<div id="page-wrap">
<section class="inner">
  <form action="//formspree.io/virtua.laurel@gmail.com" role="form" method="POST">
    <div class="form-group">
      <label for="name">What's your name?</label>
      <input type="text" name="name" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="_replyto">And email address, please?</label>
      <input type="email" name="_replyto" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="message">How can I help you?</label>
      <textarea name="body" class="form-control" rows="4" width="100%" required></textarea>
    </div>

    <div>
      <input type="hidden" name="_next" value="https://www.solutionsdelve.com/thanks.html">
      <input type="submit" class="btn btn-lg" value="Send">
    </div>
  </form>
</section>
  </div>
