  <div class="row">    
   <section class="services" id="services">     


  <div class="spacer"></div>


      <div class="row">        
        <h3 class="mean_title">velit esse cillum dolore eu fugiat nulla</h3>
        <p class="sub_title">Here are some of the products I worked on. Are you in need of SharePoint Solutions Architect?</p> 
      </div>

      <div class="row services_list">
        <div class="small-12 medium-4 large-4 columns">
          <img src="{{ site.url }}/images/services/intranet1.jpg" alt="IT DELVE">
          <h3 class="title">Design an Intranet</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        
          <div class="small-12 medium-4 large-4 columns">
             <img src="{{ site.url }}/images/services/workflow.jpg" alt="IT DELVE">
          <h3 class="title">Automate Business Processes</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>


        <div class="small-12 medium-4 large-4 columns">
                   <img src="{{ site.url }}/images/services/2.jpg" alt="IT DELVE">
          <h3 class="title">Custom Business Applications</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
     </div>
                <div class="row services_list">
        <div class="small-12 medium-4 large-4 columns">
                     <img src="{{ site.url }}/images/services/migration.jpg" alt="IT DELVE">
          <h3 class="title">Migration & Adoption</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        <div class="small-12 medium-4 large-4 columns">
         <img src="{{ site.url }}/images/services/info.jpg" alt="IT DELVE">
          <h3 class="title">Information Architecture & Governance</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        <div class="small-12 medium-4 large-4 columns">
              <img src="{{ site.url }}/images/services/training.jpg" alt="IT DELVE">
          <h3 class="title">Training & User Adoption</h3>
          <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>

  
         <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
       <img src="{{ site.url }}/images/services/intranet1.jpg" alt="IT DELVE">
      <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>
      
        <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
 <img src="{{ site.url }}/images/services/2.jpg" alt="IT DELVE">
    <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>
      
        <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
   <img src="{{ site.url }}/images/services/workflow.jpg" alt="IT DELVE">
    <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>

         <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
   <img src="{{ site.url }}/images/services/migration.jpg" alt="IT DELVE">
    <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>

         <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
   <img src="{{ site.url }}/images/services/info.jpg" alt="IT DELVE">
    <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>

         <h2>Le Wagon On Demand</h2>
    <h3>Automate Business Processes</h3>
   <img src="{{ site.url }}/images/services/training.jpg" alt="IT DELVE">
    <p><strong>My role:</strong> Lead Developer</p>
    <p>We can help you build powerful and rich visual apps that integrates system and data you use every day.
    </p>

     
  </section>

 
