<style type="text/css">
  .services_list h3
  {
   font-weight: bold !important; 
    text-transform: uppercase !important; 
    text-align: center !important;
  }
    .services_list 
  {
  }
</style>
<br><br>
<div class="row">    
   <section class="services" id="services">     
     <center><h1 class="mean_title">Power BI Consulting Services</h1></center>

 <div class="spacer"></div>


      <div class="row">        
        <h3 class="mean_title">Are you in need of a Power BI Developer or a BI Solutions Architect?</h3>
        <center><p>I am committed to delivering a solution designed to meet your unique business needs.
         Contact Me <a href="https://www.solutionsdelve.com/contact/">Here.</a></p></center>
      </div>

      <div class="row services_list">
        <div class="small-12 medium-4 large-4 columns">
          <img src="{{ site.url }}/images/services/powerbi2.png" alt="IT DELVE">
          <h3 class="title">Power BI Implementation & Deployment</h3>
          <p>Do you want to deploy Power BI within your organization and get insights into your business data? I can build an end-to-end Power BI solution from back-end data integration to dashboard and report development.</p>
        </div>
        
          <div class="small-12 medium-4 large-4 columns">
             <img src="{{ site.url }}/images/services/powerbi4.png" alt="IT DELVE">
          <h3 class="title">Data Modeling & Transformation </h3>
          <p>Are you looking to automate processes across multiple platforms and improve productivity within your organization? 
            I can help you eliminate time-consuming processes and increase productivity.</p>
        </div>


        <div class="small-12 medium-4 large-4 columns">
                   <img src="{{ site.url }}/images/services/powerbi3.png" alt="IT DELVE">
          <h3 class="title">Power BI Consulting & Training</h3>
          <p>Do you want to build custom business applications leveraging your existing investments in SharePoint Online, 
            PowerApps and/or Dyanmics 365? I can help you build mobile-ready advanced line-of-business solutions.</p>
        </div>
     </div>


  
   
  </section>

 
