/* ==========================================================================
   Search
   ========================================================================== */

.search-wrapper {
  margin-top: 0;
  height: 1px;
}

/* 
   Google search form
   ========================================================================== */

#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

#goog-wm-qt {
  width: auto;
  margin-right: 10px;
  padding: 8px 10px;
  border-width: 2px;
}

/* button */
#goog-wm-sb {
  @extend .btn;
}
